<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/5ccfbc5af2.js" crossorigin="anonymous"></script>
    

    <title>Document</title>
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2"></div>
            <div class="card mt-5 p-0">
                <div class="card-header">
                    <h2 class="card-title">Stimmt jetzt ab</h2>
                </div>
                <div class="card-body">

                    <div class="media mt-3" v-for="entry in sortedEntries">
                        <img v-bind:src="entry.img" alt="" class="mr-3">
                        <div class="media-body">
                            <h5>
                                {{entry.title}}
                                <span class="float-right text-primary"
                                 style="cursor: pointer;" 
                                 v-on:click="upvote(entry.id)">
                                    <i class="fa-solid fa-thumbs-up"></i><strong> {{entry.votes}}</strong>
                                </span>
                            </h5>
                            <div>
                                {{entry.desc}}
                            </div>
                            <small class="text-muted">Eingereicht von:  {{entry.author}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const entries = [{
        id:1,
        title: "Spaghetti Bolognese",
        desc: " Ein Nudelgericht Wallah",
        votes: 16,
        author: "Italien",
        img: "https://via.placeholder.com/64"
    },
    {
        id:2,
        title: "Ceviche",
        desc: " Peruanische Gucci Kueche",
        votes: 20,
        author: "Peru",
        img: "https://via.placeholder.com/64"
    },
    {
        id:3,
        title: "Schnitzel",
        desc: " Panierte gute diese",
        votes: 50,
        author: "Austria",
        img: "https://via.placeholder.com/64"
    },
    {
        id:4,
        title: "Nudel mit Pesto",
        desc: " Beste 1Euro Gericht",
        votes: 110,
        author: "Alex Wohnung",
        img: "https://via.placeholder.com/64"
    }
        
        ]
</script>

   


<script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.js"></script>
    <script>
        Vue.component('entry-component', {
            template: '<p>Hallo, ich bin eine Komponente'

        });

        new Vue({
            el: '#app',
            data:{
                entries: entries
            },
            computed: {
                sortedEntries(){
                    return this.entries.sort((a,b) => {
                        return b.votes- a.votes;
                    });
                }
            },
            methods: {
                upvote (entryId){
                    const entry = this.entries.find(entry => entry.id === entryId);
                    entry.votes++;
                }
            }
        });
    </script>
    
</body>
</html>